# Godot-specific
.import/
.godot/
mono/
*.import
*.tmp
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project 

addons/localization_with_google_sheets/enum_csharp
addons/localization_with_google_sheets/enum_gdscript